---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: GNU
ColumnLimit: 100
---
Language: Cpp
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
SpaceBeforeParens: ControlStatements

AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveDeclarations: Consecutive